@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("archlinux.org") {

  html, body
  {
    background: #010407 !important;
  }

  img, video
  {
    filter: invert(100%);
  }

  /* Compatibility with "Dark input fields: white on black" style */
  input:not([type=image]):not([type=submit]),
  textarea,
  select
  {
    background-color: white !important;
    color: black !important;
  }

}

@-moz-document domain("aur.archlinux.org") {

  div#content
  {
    filter: invert(100%);
  }

}

@-moz-document domain("bbs.archlinux.org") {

  div.pun
  {
    filter: invert(100%);
  }

}

@-moz-document domain("bugs.archlinux.org") {

  div#container,
  div#successbar
  {
    filter: invert(100%);
  }

}

@-moz-document domain("wiki.archlinux.org") {

  div#globalWrapper
  {
    filter: invert(100%);
  }

}

@-moz-document domain("www.archlinux.org") {

  div#content
  {
    filter: invert(100%);
  }

}
