@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("boingboing.net") {

  body
  {
    background-color: black !important;
  }

  div#container,
  div#navbar,
  div#main-outlet,
  div.next-post-thumb-img,
  img, video
  {
    filter: invert(100%);
  }

  header div.title img
  {
    filter: none;
  }

  /* Compatibility with "Dark input fields: white on black" style */
  input:not([type=image]):not([type=submit]),
  textarea,
  select
  {
    background-color: white !important;
    color: black !important;
  }

  /* Compatibility with "External play Youtube videos" GreaseMonkey script */
  div.externalYoutube img,
  span.externalYoutube img
  {
    filter: none;
  }
  div.externalYoutube,
  span.externalYoutube
  {
    filter: invert(100%);
  }

}

/*
vim: ft=css sw=2
*/
