@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/*AGENT_SHEET*/

/* Removes all borders of the urlbar in every form */
#main-window[defaultfxtheme="true"] toolbar #urlbar,
#main-window[defaultfxtheme="true"] toolbar .searchbar-textbox,
#main-window[defaultfxtheme="true"] toolbar #urlbar:-moz-lwtheme,
#main-window[defaultfxtheme="true"] toolbar .searchbar-textbox:-moz-lwtheme,
#main-window[defaultfxtheme="true"] toolbar #urlbar:not(:-moz-lwtheme):not([focused]),
#main-window[defaultfxtheme="true"] toolbar .searchbar-textbox:not(:-moz-lwtheme):not([focused]),
#main-window[defaultfxtheme="true"] toolbar #urlbar:not(:-moz-lwtheme):not([focused]):hover,
#main-window[defaultfxtheme="true"] toolbar .searchbar-textbox:not(:-moz-lwtheme):not([focused]):hover,
#main-window[defaultfxtheme="true"] toolbar #urlbar:not(:-moz-lwtheme)[focused],
#main-window[defaultfxtheme="true"] toolbar .searchbar-textbox:not(:-moz-lwtheme)[focused] {
  border: 1px solid transparent !important;
  border-color: transparent !important;
}

/* remove all width properties of urlbar container */
toolbar #urlbar-container, toolbar #urlbar {
  min-width: unset !important;
  width: unset !important;
  max-width: unset !important;
}
/* set urlbar min-width, if urlbar is focused */
toolbar #urlbar[focused] {
  min-width:600px !important;
}
toolbar #urlbar-container {
  max-width:20px !important;
}
toolbar #urlbar {
  min-width:85px!important;
  background:none!Important;
}
.textbox-input-box.urlbar-input-box {
  padding-left:15px;
}
#identity-icon-labels{
  display: none!important;
}
#identity-box {
  background:none!important;
  display:none!Important;
}
#notification-popup-box {
  display:none!important;
}
#main-window[defaultfxtheme="true"] #urlbar, 
#main-window[defaultfxtheme="true"] .searchbar-textbox {
	border:0px solid ThreeDShadow !important;
}

#notification-popup-box {
  display:none!important;
}
/* Gets rid of every tab border */
#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabs-newtab-button,
#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-stack .tab-content {
   border-image: unset !important;
   border: unset !important;
}
#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab {
  padding-right:3px!important;
  padding-left:3px!important;
}
/* sets CTR bookmark menu to look like panel menu */
#main-window:not([defaultfxtheme="true"]) toolbar #urlbar-container #urlbar #urlbar-icons #bookmarks-menu-button {
  margin: 0px !important;
}
#main-window:not([defaultfxtheme="true"]) toolbar #urlbar-container #urlbar #urlbar-icons #bookmarks-menu-button .toolbarbutton-icon {
  margin: 0px !important;
}
#main-window[defaultfxtheme="true"] toolbar #urlbar-container #urlbar #urlbar-icons #bookmarks-menu-button {
  margin: 0px !important;
}
#main-window[defaultfxtheme="true"] toolbar #urlbar-container #urlbar #urlbar-icons #bookmarks-menu-button .toolbarbutton-icon {
  margin: 0px !important;
}



/* ----------------------------------------------------------------------------------------------------
STANDARD OPTIONS ----------------------------------------------------------------------------------- */




/* URLBAR place holder color. Change "lightgrey" for w/e color you like or you think suits best for your theme. */
*|*.textbox-input::-moz-placeholder { 
  color:lightgrey !important; 
}
/* URLBAR unfocusing input color. It's just there for a smooth transition when unfocusing the urlbar. */
#urlbar-container:not([focused="true"]) .textbox-input-box.urlbar-input-box{
  color:grey;
  transition:0.5s!important;
}
/* URLBAR "Browse...". Change color, font size, style, content, etc, of the "Browse..." part that appears in the URLbar when it's not focused*/
#urlbar-container:not([focused="true"]) .textbox-input-box.urlbar-input-box:after {
  float:left;
  color:lightgrey;
  content:'Browse...';
  font-style:italic;
  font-size:13px;
  opacity:1!important;
}
/* URLBAR "Browse..." color hover. Change color, font size, style, content, etc, of the "Browse..." part that appears in the URLbar when it's not focused (when hovering it with your mouse */
#urlbar-container:hover .textbox-input-box.urlbar-input-box:after {
  color:white;
}
/* URLBAR focused input color. */
#urlbar-container [focused="true"] .textbox-input-box.urlbar-input-box{
  opacity:1!important;
  color:white;
}
#urlbar-container [focused="true"] .textbox-input-box.urlbar-input-box:after {
  opacity:0!important;
}
/* Selected tab bottom border. Change the colors of the background image gradient if you want. You can also just delete this part if you want to remove the border or leave CTR addon to take care of tabs completely  */
#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab[selected="true"] {
  background-image: linear-gradient(to top, #0093FF, #0093FF 5px, transparent 5px) !important;
  border:none !important;
  box-shadow:none !important;
  border-radius:0 !important;
}
/* Hover tab bottom border */
#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab:hover {
  background-image: linear-gradient(to top, #00E100, #00E100 5px, transparent 5px) !important;
  border:none !important;
  box-shadow:none !important;
  border-radius:0 !important;
}
/* Unselected tabs' favicons. It makes the unselected tabs' favicons grey and semi transparent*/
.tab-icon-image{
  filter: none;
  opacity:0.65!important;
}
/* Selected tabs' favicons. It makes the selected tab's favicon full coloured and solid*/
.tab-icon-image[selected="true"]{
  filter: none;
  opacity:1!important;
}
/* Hovered tabs' favicons. It makes the hovered tab's favicon solid*/
.tabbrowser-tab:hover .tab-icon-image{
  opacity:1!important;
}
/* FOR BUTTONS THAT GO BELOW THE WINDOW'S BUTTONS - This is set so they are not on top of each other. It's currently set for Windows 10 window's style, but you can change the margin to your liking.*/
#home-button, #bookmarks-menu-button, #PanelUI-menu-button, #action-button--jid1-sqmeawsoa3fzpcjetpack-fngmail, #downloads-button, #gmcButton, #ctraddon_bookmarks-menu-toolbar-button {
  margin-top:20px!important;
}

/* Userstyle made by Adolfo Astudillo (adoh.asuth@gmail.com). Based on a Google Chrome redesign concept: https://www.behance.net/gallery/Google-Chrome-Project/4456341 */
