@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.kickstarter.com") {

  header h1.site-logo,
  header form,
  body, nav
  {
    background: black;
  }

  nav.right a#js-user_nav_select,
  div.user-dropdown,
  div#running-board-wrap,
  div#main_content,
  div.modal_dialog,
  div.bg-cover,
  img, video
  {
    filter: invert(100%);
  }

  /* Fix for transparent images */
  img
  {
    background: white;
  }

  /* Compatibility with "External play Youtube videos" GreaseMonkey script */
  div.externalYoutube img,
  span.externalYoutube img
  {
    filter: none;
  }
  div.externalYoutube,
  span.externalYoutube
  {
    filter: invert(100%);
  }

  /* Compatibility with "Dark input fields: white on black" style */
  input:not([type=image]):not([type=submit]),
  textarea,
  select
  {
    background: white !important;
    color: black !important;
  }

  input#term
  {
    background: black !important;
    color: white !important;
  }

}
