@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.osnews.com") {

  body
  {
    background-color: black !important;
  }

  div#content,
  img, video
  {
    filter: invert(100%);
  }

  /* Compatibility with "Dark input fields: white on black" style */
  div#content input:not([type=image]):not([type=submit]),
  div#content textarea,
  div#content select
  {
    background-color: white !important;
    color: black !important;
  }

}
