@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.phoronix.com") {

  body, html#vbulletin_html
  {
    background-color: black !important;
  }

  html#vbulletin_html body
  {
    background-color: white !important;
  }

  :root,
  img, video
  {
    filter: invert(100%);
  }

  /* Compatibility with "Dark input fields: white on black" style */
  input:not([type=image]):not([type=submit]),
  textarea,
  select
  {
    background-color: white !important;
    color: black !important;
  }

}
