@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp('https?://sourceforge\\.net/.*') {

  body
  {
    background-color: black !important;
  }

  :root,
  span.platform-icon,
  img, video
  {
    filter: invert(100%);
  }

  /* Compatibility with "Dark input fields: white on black" style */
  input:not([type=image]):not([type=submit]),
  textarea,
  select
  {
    background: white !important;
    color: black !important;
  }

}

/*
vim: ft=css sw=2
*/
