@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wikipedia.org") {

  :root
  {
    background-color: black !important;
    filter: invert(100%);
  }

  img, video
  {
    filter: invert(100%);
  }

  /* Compatibility with "Dark input fields: white on black" style */
  input:not([type=image]):not([type=submit]),
  textarea,
  select
  {
    background: white !important;
    color: black !important;
  }

}
