@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {
  #yt-masthead-container {
    opacity: 1;
  }
  #masthead-positioner-height-offset {
    height: 0px !important;
  }
  #yt-masthead-container:not(:hover) {
    opacity: 0;
  }
  #watch7-content {
    margin-top: 10px;
    min-height: 200px;
    max-height: calc(100vh - (720px + 60px)) !important;
    overflow-y: scroll;
  }
  .watch-non-stage-mode #watch7-sidebar {
    position: fixed !important;
    margin-top: 50px;
    top: 0px !important;
    max-height: calc(100vh - 50px) !important;
    overflow-y: scroll;
  }
  .watch-stage-mode #watch7-sidebar {
    min-height: 200px;
    max-height: calc(100vh - (720px + 50px)) !important;
    overflow-y: scroll;
  }
  
}